# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# auto
tuple2hist/AutoDict_pair_string_string_.cxx
tuple2hist/AutoDict_pair_string_string__cxx.d
tuple2hist/AutoDict_vector_pair_string_string___.cxx
tuple2hist/AutoDict_vector_pair_string_string____cxx.d
tuple2hist/*.root
